*.pyc
*.swp
.venv
*.egg-info
.pytest_cache
.nfs*
.idea
muss/resources/
muss/venv_python/
pylinguistics/venv_python/
pylinguistics/pylinguistics/resources/
transformers/venv_python/
transformers/checkpoint-9000/
